/* Scrollable container */
.table-container {
    border: 0px solid #e5e7eb;
    <!--overflow: auto; /* Enables both horizontal and vertical scrolling */-->
    height: 500px; /* Limits table height for vertical scrolling */
}

/* Table layout */
.table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed; /* Ensures consistent column widths */
}

/* Table cells and headers */
.table th,
.table td {
    padding: 8px;
    text-align: center;
    border: 1px solid white;
}

td.detailheader
{
    text-align: right;
    width: 300px;
    vertical-align: middle;
}

td.detailcontent
{
    text-align: left;
}

.navigation {
    width: 200px;
}

.navigation th {
    padding: 8px;
    text-align: center;
    width: 200px;
    border: 1px solid white;
    background-image: linear-gradient(slategrey, lightslategray);
    color: #223344;
    cursor: pointer;
}

table.navigation {
    margin-bottom: 8px;
}

.navigation th:hover {
    background-image: linear-gradient(lightslategray, darkgrey);
}

.green-gradient th:hover {
    background-image: linear-gradient(darkseagreen, darkolivegreen);
}

td.lightup:hover {
    background-color: white;
    background-image: linear-gradient(whitesmoke, lightgrey);
}

th.navselected {
    background-image: linear-gradient(slategray, white);
    color: black;
    font-weight: bold;
}

th.navselected:hover {
    background-image: linear-gradient(slategray, white);
    color: black;
}

.table th:nth-child(1) {
    background-image: linear-gradient(lightslategrey, lightblue);
    width: 160px;
}
/* Add higher z-index for header */
.table th:nth-child(1) {
    z-index: 6;
}

/* Sticky header */
.table th {
    background-image: linear-gradient(lightslategrey, lightblue);
    color: black;
    font-size: 14px;
    font-weight: bold;
    position: sticky;
    top: 0; /* Makes the header stick to the top */
    z-index: 2; /* Keeps the header above the table body */
    white-space: nowrap;
}

/* Styling for table body */
.table td {
    font-size: 14px;
}

/* Zebra striping for rows */
.table tr:nth-child(odd) {
    color: black;
}
.table tr:nth-child(even) {
    color: black;
}

/* Hover effect for rows */
.table tr:hover {
    font-weight: bold;
    border: 1px solid black;
}




.statenew td{
    background-color: #F9D978CC;
    transition: background 2s ease;
    cursor: pointer;
}
.statenew td:nth-child(1){
    color: #F9D978;
    background-color: transparent;
    transition: background 0.5s ease;
}

.statenew:hover td:nth-child(1){
    color: black;
}

.statenew:hover td{
    background-color: #F9D978;
    transition: background 0.5s ease;
}



.stateonboarding td{
    background-color: #BCFFF9CC;
    transition: background 2s ease;
    cursor: pointer;
}
.stateonboarding td:nth-child(1){
    color: #BCFFF9;
    background-color: transparent;
    transition: background 0.5s ease;
}

.stateonboarding:hover td:nth-child(1){
    color: black;
}

.stateonboarding:hover td{
    background-color: #BCDFF9;
    transition: background 0.5s ease;
}



.stateactive td{
    background-color: #CBFFBCCC;
    transition: background 2s ease;
    cursor: pointer;
}
.stateactive td:nth-child(1){
    color: #CBFFBC;
    background-color: transparent;
    transition: background 0.5s ease;
}

.stateactive:hover td:nth-child(1){
    color: black;
}

.stateactive:hover td{
    background-color: #CBFFBC;
    transition: background 0.5s ease;
}



.statesuspended td{
    background-color: #FFD6BCCC;
    transition: background 2s ease;
    cursor: pointer;
}
.statesuspended td:nth-child(1){
    color: #FFD6BC;
    background-color: transparent;
    transition: background 0.5s ease;
}

.statesuspended:hover td:nth-child(1){
    color: black;
}

.statesuspended:hover td{
    background-color: #FFD6DC;
    transition: background 0.5s ease;
}



.statedeactivated td{
    background-color: #FFAAAACC;
    transition: background 2s ease;
    cursor: pointer;
}
.statedeactivated td:nth-child(1){
    color: #FFAAAA;
    background-color: transparent;
    transition: background 0.5s ease;
}

.statedeactivated:hover td:nth-child(1){
    color: black;
}

.statedeactivated:hover td{
    background-color: #FFCCCC;
    transition: background 0.5s ease;
}



.staterefused td{
    background-color: #9F9F9FCC;
    transition: background 2s ease;
    cursor: pointer;
}
.staterefused td:nth-child(1){
    color: #9F9F9F;
    background-color: transparent;
    transition: background 0.5s ease;
}

.staterefused:hover td:nth-child(1){
    color: black;
}

.staterefused:hover td{
    background-color: #BFBFBF;
    transition: background 0.5s ease;
}



.stategray:nth-child(even) td{
    background-color: #fefefecc;
    transition: background 2s ease;
    cursor: pointer;
}

.stategray:nth-child(odd) td{
    background-color: #eeeeee;
    transition: background 2s ease;
    cursor: pointer;
}

.stategray td:nth-child(1){
    background-color: #fefefe;
    transition: background 1s ease;
    cursor: pointer;
}

.stategray td:nth-child(1){
    color: #fefefe;
    background-color: transparent;
    transition: background 0.5s ease;
}

.stategray:hover td:nth-child(1){
    color: black;
}

.stategray:hover td{
    background-color: #dedede;
    transition: background 0.5s ease;
}



/* No data row styling */
.no-data {
    text-align: center;
    font-size: 14px;
    color: #9ca3af;
}

button.search {
    height:30px;
    vertical-align: middle;
    line-height: 10px;
    background-color: #223344;
}

.dataTables_paginate {
    float: right;
    text-align: center;
    padding-top: 20px;
}

.dataTables_pagesize {
    width: 190px;
    font-size: 14px;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    text-align: center;
    margin-top: 20px;
    color: #fff !important;
    border: 1px solid white;
    border-radius: 5px;
    white-space: nowrap;
    cursor: default;
}

.dataTables_pagesize select {
    height: 30px;
    font-size: 14px;
    text-align: center;
    background: transparent;
    border: none;
    color: white;
    width: 60px;
    float:left;
    padding: 0px;
    margin: 0px;
    cursor: pointer;

}

div.dataTables_paginate ul.paginationlist {
    white-space: nowrap;
    padding: 6px;
    border-radius: 5px;
}

.dataTables_paginate .paginate_button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 40px;
    max-width: 40px;
    text-align: center;
    cursor: pointer;
    color: #fff !important;
    border: 1px solid white;
    border-radius: 5px;
}

.dataTables_paginate .paginate_button:hover {
    background-color: #454545;
}

li.pageactive {
    background-image: linear-gradient(slategrey , lightslategray);
    border: 1px solid transparent;
}
