<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    vielen Dank f&uuml;r Deine Anmeldung zur Erneuerbaren Energiegemeinschaft VIERE, deren Erhalt wir hiermit gerne best&auml;tigen.<br />
    &nbsp;<br />
    Wir freuen uns sehr, dass Du Interesse daran hast, Teil unserer Gemeinschaft zu werden und gemeinsam mit uns einen Beitrag zur F&ouml;rderung erneuerbarer Energien zu leisten!
</p>
<p>
    Wir werden nun Deine Unterlagen und die technische Machbarkeit pr&uuml;fen und Dich zeitnah &uuml;ber die weiteren Schritte informieren. Sollten wir zus&auml;tzliche Informationen oder Dokumente von Dir ben&ouml;tigen, melden wir uns nat&uuml;rlich umgehend.
</p>
<p>
    <br />
    <br />
    Den aktuellen Stand Deines Antrags kannst Du jederzeit im Portal <a href="https://portal.viere.at">portal.viere.at</a> mit folgenden Logindaten pr&uuml;fen:<br />
    &nbsp;<br />
    <b>Dein Benutzername:</b><br />
    {%EMAIL%}<br />
    &nbsp;<br />
    <b>Dein Passwort:</b><br />
    {%PASSWORD%}<br />
    &nbsp;<br />
</p>
<p>
    Weiterf&uuml;hrende Details findest Du auf unserer Webseite <a href="https://www.viere.at">www.viere.at</a>. Bei Fragen oder Anliegen stehen wir Dir unter energie@viere.at selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Wir freuen uns darauf, Dich bald als Mitglied unserer Gemeinschaft begr&uuml;ßen zu d&uuml;rfen!
</p>
<p>
    Deine EEG VIERE
</p>
