<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    Jemand hat soeben in der EEG "{%FULLNAME%}" das Zur&uuml;cksetzen deines Passworts beantragt.<br />
    Wenn du dein Passwort vergessen hast, bitte nutze folgenden Link, um ein neues zu erhalten:<br />
</p>
&nbsp;<br />
<p>
    {%RESET_LINK%}
</p>
&nbsp;<br />
<p>
    Falls du dein Passwort nicht vergessen oder das Zur&uuml;cksetzen des Passworts nicht beantragt hast, bitte ignoriere diese Nachricht.<br />
    Bei Fragen oder Anliegen stehen wir Dir unter <a href="mailto:{%CONTACT_EMAIL%}">{%CONTACT_EMAIL%}</a> selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Deine<br />
    {%FULLNAME%}<br />
    <i>&quot;{%SLOGAN%}&quot;</i>
</p>
