<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    Dein Netzbetreiber hat uns soeben folgende Mitteilung &uuml;bermittelt:
</p>
<p>
    <b>Z&auml;hlpunkt:</b>  {%METER_ID%}<br />
    <b>Art:</b> {%METER_TYPE%}<br />
    <b>Adresse:</b> {%FULL_QUALIFIED_ADDRESS%}<br />
</p>
<p>
    Es gibt Gr&uuml;nde, welche die Anbindung des Z&auml;hlpunktes verhindern.<br />
    Der Z&auml;hlpunkt kann zzt. NICHT in unsere EEG &uuml;bernommen werden.
</p>
<p>
    Bei Fragen oder Anliegen stehen wir Dir unter <a href="mailto:{%CONTACT_EMAIL%}">{%CONTACT_EMAIL%}</a> selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Deine<br />
    {%FULLNAME%}<br />
    <i>&quot;{%SLOGAN%}&quot;</i>
</p>
