<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    Damit wir Deine Teilnahme vollst&auml;ndig umsetzen k&ouml;nnen, fehlt uns derzeit noch die Datenschutzfreigabe beim Netzbetreiber. Diese Freigabe ist erforderlich, damit wir die relevanten Daten f&uuml;r die Abrechnung und Verwaltung innerhalb der Gemeinschaft nutzen d&uuml;rfen.<br />
    &nbsp;<br />
    Zur Zeit ist diese Freigabe noch ausst&auml;ndig. Wenn Du nicht sicher bist, wie du diese Freigabe erteilen kannst, findest du hier eine Schritt-f&uuml;r-Schritt Anleitung:<br />
    &nbsp;<br />
    <A href="https://docs.eegfaktura.at/books/netz-oo" target="_blank">https://docs.eegfaktura.at/books/netz-oo</A>
</p>
&nbsp;<br />
<p>
    Solltest du Unterst&uuml;tzung ben&ouml;tigen, findest Du weitere Informationen auf unserer Webseite <a href="{%CONTACT_WEBSITE%}">{%CONTACT_WEBSITE%}</a>.<br />
    Bei Fragen oder Anliegen stehen wir Dir unter <a href="mailto:{%CONTACT_EMAIL%}">{%CONTACT_EMAIL%}</a> selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Deine<br />
    {%FULLNAME%}<br />
    <i>&quot;{%SLOGAN%}&quot;</i>
</p>
