<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    vielen Dank f&uuml;r Deine Anmeldung zur Erneuerbaren Energiegemeinschaft VIERE.<br />
    &nbsp;<br />
    Wir freuen uns sehr, dass Du Interesse daran hast, Teil unserer Gemeinschaft zu werden und gemeinsam mit uns einen Beitrag zur F&ouml;rderung erneuerbarer Energien zu leisten.
</p>
<p>
    <b>Hiermit best&auml;tigen wir den Eingang Deiner Anmeldung.</b><br />
    &nbsp;<br />
    Wir werden Deine Unterlagen und die technische Machbarkeit nun pr&uuml;fen und Dich zeitnah &uuml;ber die weiteren Schritte informieren. Sollten wir zus&auml;tzliche Informationen oder Dokumente von Dir ben&ouml;tigen, werden wir uns umgehend melden.
</p>
<p>
    In der Zwischenzeit m&ouml;chten wir Dir mitteilen, dass Du Dich auf unserer Webseite <a href="https://www.viere.at">www.viere.at</a> mit weiterf&uuml;hrenden Details versorgen kannst.
</p>
<p>
    Bei Fragen oder Anliegen stehen wir Dir selbstverst&auml;ndlich gerne zur Verf&uuml;gung. Du erreichst uns unter <a href="mailto:energie@viere.at">energie@viere.at</a>.<br />
</p>
<p>
    Nochmals herzlichen Dank f&uuml;r das Interesse und Deine Bereitschaft, sich f&uuml;r eine nachhaltige Zukunft zu engagieren. Wir freuen uns darauf, Dich bald als Mitglied unserer Gemeinschaft begr&uuml;&szlig;en zu d&uuml;rfen.
</p>
<p>
    <br />
    <br />
    Den aktuellen Stand Deines Antrags kannst Du jederzeit im Portal <a href="https://portal.viere.at">portal.viere.at</a> mit folgenden Logindaten pr&uuml;fen:<br />
    &nbsp;<br />
    <b>Dein Benutzername:</b><br />
    {%EMAIL%}<br />
    &nbsp;<br />
    <b>Dein Passwort:</b><br />
    {%PASSWORD%}<br />
    &nbsp;<br />
</p>