<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    Wir freuen uns Dir mitteilen zu d&uuml;rfen, dass Dein Antrag zur Mitgliedschaft bei der EEG "{%FULLNAME%}" akzeptiert wurde. Nach eingehender Pr&uuml;fung Deiner Unterlagen haben wir festgestellt, dass Du die formalen Kriterien zur Aufnahme erf&uuml;llst.
</p>
<p><b>Wie geht es jetzt weiter?</b></p>
<p>
    Wir haben die von Dir angegebenen Z&auml;hlpunkte an den zust&auml;ndigen Netzbetreiber &uuml;bermittelt.
    Dieser wird uns in den n&auml;chsten Tagen mitteilen, ob die technischen Rahmenbedingungen Deiner Anlage(n) erf&uuml;llt sind.
    Sobald die Antwort bei uns einlangt, erh&auml;ltst Du f&uuml;r jeden einzelnen Bezugs- und Lieferz&auml;hlpunkt eine E-Mail die Dich &uuml;ber die jeweilige Entscheidung des Netzbetreibers informiert.
</p>
<p>
    Weiterf&uuml;hrende Informationen findest Du auf unserer Webseite <a href="{%CONTACT_WEBSITE%}">{%CONTACT_WEBSITE%}</a>. Bei Fragen oder Anliegen stehen wir Dir unter <a href="mailto:{%CONTACT_EMAIL%}">{%CONTACT_EMAIL%}</a> selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Deine<br />
    {%FULLNAME%}<br />
    <i>&quot;{%SLOGAN%}&quot;</i>
</p>
