<b>Hallo {%FIRSTNAME%} {%LASTNAME%},</b><br />
<p>
    Wir freuen uns Dir mitteilen zu d&uuml;rfen, dass Dein Antrag zur Mitgliedschaft bei der EEG "{%FULLNAME%}" akzeptiert wurde.<br />
    Nach eingehender Pr&uuml;fung Deiner Unterlagen haben wir festgestellt, dass Du die formalen Kriterien zur Aufnahme erf&uuml;llst.
</p>
&nbsp;<br />
<p><b>Du bist ab sofort aktives Mitglied unserer Energiegemeinschaft</b></p>
<p>
    Der zust&auml;ndige Netzbetreiber hat die von Dir angegebenen Z&auml;hlpunkte &uuml;berpr&uuml;ft,<br />
    du bist zur Zeit mit folgenden Anlage(n) an unsere EEG angebunden:<br />
    &nbsp;<br>
    {%APPROVED_METER_IDS%}
    <br />
</p>
&nbsp;<br />
<p>
    Weiterf&uuml;hrende Informationen findest Du auf unserer Webseite <a href="{%CONTACT_WEBSITE%}">{%CONTACT_WEBSITE%}</a>.<br />
    Bei Fragen oder Anliegen stehen wir Dir unter <a href="mailto:{%CONTACT_EMAIL%}">{%CONTACT_EMAIL%}</a> selbstverst&auml;ndlich gerne zur Verf&uuml;gung.
</p>
<p>
    Deine<br />
    {%FULLNAME%}<br />
    <i>&quot;{%SLOGAN%}&quot;</i>
</p>
